In [41]:
import pandas as pd
import numpy as np

tabela = pd.read_csv("PATRIMONIO 12 2023.csv", encoding='windows-1252', delimiter=';')

display(tabela)

,Nº inventário,Localização,Denominação,Incorporação em
0,1221588.0,21080001,SENAI Ricardo Lerner,02/12/2009
1,1221668.0,21080001,SENAI Ricardo Lerner,01/12/2016
2,724781.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
3,724782.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
4,724783.0,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
...,...,...,...,...
4819,1278680.0,21080050,PÚLPITO ACRÍLICO 120CM,31/07/2023
4820,1279970.0,21080003,DETECTOR DE 5 GASES C/KIT DE CALIBRAÇÃO,19/09/2023
4821,1281779.0,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023
4822,1281780.0,21080059,ROBÔ COLABORATIVO 5 KG,14/11/2023
4823,NaN,21080006,INSTALAÇÃO DO SISTEMA DE GERAÇÃO SOLAR,06/04/2023

In [42]:
display(tabela.info())

tabela['Nº inventário'].fillna(0, inplace=True)

tabela['Nº inventário'] = tabela['Nº inventário'].astype(int)

display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº inventário    4773 non-null   float64
 1   Localização      4824 non-null   int64
 2   Denominação      4824 non-null   object
 3   Incorporação em  4824 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 150.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4824 entries, 0 to 4823
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Nº inventário    4824 non-null   int64
 1   Localização      4824 non-null   int64
 2   Denominação      4824 non-null   object
 3   Incorporação em  4824 non-null   object
dtypes: int64(2), object(2)
memory usage: 150.9+ KB

C:\Users\DELL\AppData\Local\Temp\ipykernel_20616\3676236845.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tabela['Nº inventário'].fillna(0, inplace=True)

None

In [43]:
tabela_sala21080001 = tabela[tabela['Localização'] == 21080001]
display(tabela_sala21080001)
display(tabela_sala21080001["Nº inventário"].value_counts())

tabela_sala21080013 = tabela[tabela['Localização'] == 21080013]
display(tabela_sala21080013)
display(tabela_sala21080013["Nº inventário"].value_counts())

,Nº inventário,Localização,Denominação,Incorporação em
0,1221588,21080001,SENAI Ricardo Lerner,02/12/2009
1,1221668,21080001,SENAI Ricardo Lerner,01/12/2016
1818,1218140,21080001,MESA COM TAMPO EM GOTA MALIBU - DC 1692,31/03/2019
1819,1218141,21080001,MESA COM TAMPO EM GOTA MALIBU - DC 1692,31/03/2019
1820,1218142,21080001,MESA COM TAMPO EM GOTA MALIBU - DC 1692,31/03/2019
1830,1218183,21080001,MESA EM L COM DIVISÓRIA MALIBU - DC 1693,31/03/2019

Nº inventário
1221588    1
1221668    1
1218140    1
1218141    1
1218142    1
1218183    1
Name: count, dtype: int64

,Nº inventário,Localização,Denominação,Incorporação em
2,724781,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
3,724782,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
4,724783,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
5,724784,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
6,724785,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004
...,...,...,...,...
3446,668430,21080013,KIT FERRAMENTAS P/CONECTORES CORNING,30/11/2001
3447,668431,21080013,KIT FERRAMENTAS P/CONECTORES CORNING,30/11/2001
3657,957829,21080013,"TESTADOR CABO DE VOZ,DADOS E VÍDEO/IDEAL",27/10/2010
4210,1210360,21080013,TURBIDÍMETRO DIGITAL / DIGIMED,19/09/2018
4211,1210361,21080013,TURBIDÍMETRO INDUSTRIAL / DIGIMED,19/09/2018

Nº inventário
724781     1
724782     1
724783     1
724784     1
724785     1
          ..
668430     1
668431     1
957829     1
1210360    1
1210361    1
Name: count, Length: 162, dtype: int64

In [49]:
tabela_sala21080013['Sala'] = np.where(tabela_sala21080013['Localização'] == 21080013, 'SALA 13', 'OUTRA')
display(tabela_sala21080013)

C:\Users\DELL\AppData\Local\Temp\ipykernel_20616\3145548283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_sala21080013['Sala'] = np.where(tabela_sala21080013['Localização'] == 21080013, 'SALA 13', 'OUTRA')

,Nº inventário,Localização,Denominação,Incorporação em,Sala
2,724781,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
3,724782,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
4,724783,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
5,724784,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
6,724785,21080013,PROJETOR MULTIMIDIA 1200 ANSI LUMENS,31/07/2004,SALA 13
...,...,...,...,...,...
3446,668430,21080013,KIT FERRAMENTAS P/CONECTORES CORNING,30/11/2001,SALA 13
3447,668431,21080013,KIT FERRAMENTAS P/CONECTORES CORNING,30/11/2001,SALA 13
3657,957829,21080013,"TESTADOR CABO DE VOZ,DADOS E VÍDEO/IDEAL",27/10/2010,SALA 13
4210,1210360,21080013,TURBIDÍMETRO DIGITAL / DIGIMED,19/09/2018,SALA 13
4211,1210361,21080013,TURBIDÍMETRO INDUSTRIAL / DIGIMED,19/09/2018,SALA 13